# Default server settings
[mysqld]
pid-file            = /var/snap/_NAME_/current/run/mysqld.pid
socket              = /var/snap/_NAME_/current/run/mysqld.sock
datadir             = /var/snap/_NAME_/common/data
secure-file-priv    = NULL
user                = snap_daemon
bind-address        = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
mysqlx-socket		= /var/snap/_NAME_/current/run/mysqlx.sock

# Import all .cnf files from configuration directory
!includedir /var/snap/_NAME_/current/etc
