# Default server settings
[mysqld]
pid-file            = /var/snap/mysql/current/run/mysqld.pid
socket              = /var/snap/mysql/current/run/mysqld.sock
datadir             = /var/snap/mysql/common/data
user                = snap_daemon
bind-address        = 127.0.0.1
mysqlx-bind-address = 127.0.0.1
secure-file-priv    = NULL

# Import all .cnf files from configuration directory
!includedir /var/snap/mysql/current/etc
